<h1>Create a new Work Being</h1>

<form action="/create_user" method="GET">
  <p>
    <label name="name">Name</label>
    <input name="name" type="text" />
  </p>

  <p>
    <label name="email">Email</label>
    <input name="email" type="text" />
  </p>

  <p>
    <label name="pasword">Password</label>
    <input name="password" type="text" />
  </p>

  <p>
    <input type="submit" />
  </p>
</form>
