<div class="container">
  <h1>Simplest Possible AJAX</h1>
  <p>This contrived app will simulate a roll of a n-sided die.</p>

  <form method="post" action="/rolls">
    <p>
      <label name="sides"/>How many sides?</label>
      <input name="sides" type="integer" placeholder="optional - default=6" value="<%= params[:sides] %>"/>
    </p>
    <p><input type="submit" value="Roll the Die"></p>
  </form>

  <div id="die-container">
    <% if @die %>
      <div class="die">
        <span class="roll">
          <%= @die.roll %>
        </span>
      </div>
    <% end %>
  </div>

</div>
