/* *       - https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors
/* :after  - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Aafter*/
/* :before - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Abefore */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: Arial;
  font-family: 16px;
  margin: 0;
  padding: 0;
}

header {
  height: 10em;
  text-align: center;
}

  header h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 5em;
  }

main {
  padding: 3em 0 6em 0;
}

article p, article span {
  font-family: Times;
  line-height: 1.5em;
}

form {
  width: 100%;
  max-width: 400px;
}

input, label, textarea {
  display: block;
  width: 100%;
}

label {
  margin-bottom: .75em;
  font-size: 1em;
}

input, textarea {
  font-family: Times;
  font-size: 1em;
  margin-bottom: 3em;
  background-color: #5A5A5A;
  color: #efefef;
  border: none;
  border-bottom: 1px solid #C8C8C8;
  outline: none;
}

  input:focus, textarea:focus {
    border-color: #19ABB5;
  }

  input[type=submit] {
    font-family: Arial;
  }

textarea {
  resize: none;
  height: 4em;
  overflow: auto;
}

.author {
  font-style: italic;
}

.new-comment-button {
  font-size: 1em;
  width: 100%;
  max-width: 400px;
  border-radius: .5em;
  padding: 2em;
}

.delete-button {
  float:right;
  border-radius: 3px;
}

.button {
  display: block;
  border: 1px solid #C8C8C8;
  background-color: #6A6A6A;
  color: #efefef;
  outline: none;
}

  .button:hover {
    cursor: pointer;
    background-color: #3A3A3A;
    border-color: #19ABB5;
  }

.center {
  margin: 0 auto;
}

.comment {
  list-style: none;
  padding: 2em 0;
  border-bottom: 1px solid #C8C8C8;
}

  .comment:first-of-type {
    padding-top: 0;
  }

  .comment:last-of-type {
    border-bottom: none;
  }

  .comment p {
    padding: 0;
    margin: 0 0 1em 0;
  }

.comments {
  margin-top: 4em;
}

  .comments ul {
    margin: 0 0 2em 0;
    padding: 0;
  }

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

.dark {
  background-color: #5A5A5A;
  color: #efefef;
}

.hidden {
  display: none;
}

.light {
  background-color: white;
  color: #19ABB5;
}
