<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lobster+Two'>
  <link rel="stylesheet" href="/css/application.css">

  <!-- JavaScripts -->
  <script src="/js/application.js"></script>

  <title>Penelope's Horses</title>
</head>

<body class="">
  <header class="hero horse-image flex flex-centered">
    <h1 class="hero-heading fancy-text">Penelope's Horses</h1>
  </header>

  <main role="main" class="row light">
    <div class="container flex flex-column">
      <%= yield %>
    </div>
  </main>
</body>
</html>
