<h1 class="big"><%= @horse.name %></h1>
<ul class="list">
  <li class="list-item col-1-3">
    <h2>Name</h2>
    <p><%= @horse.name %></p>
  </li>
  <li class="list-item col-1-3">
    <h2>Breed</h2>
    <p><%= @horse.breed %></p>
  </li>
  <li class="list-item col-1-3">
    <h2>Age</h2>
    <p><%= @horse.age %></p>
  </li>
</ul>
