.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
  */
  margin: 0 auto;
  width: 720px;
}
