<header class="container">
  <div class="header-data">
    <h1><a href="/">Events!!!</a></h1>

    <nav>
      <ul class="no-bullets nav-list">
        <li class=""><a href="/events/new">List Your Event</a></li>
        <li><a href="/events">Upcoming Events</a></li>
      </ul>
    </nav>
  </div>
</header>
