<form method="post" action="/events/<%= event.id %>" class="event-card-button">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete" class="button" />
</form>
