<% if object.errors.any? %>
  <ul class="errors-list blue-callout">
    <% object.errors.messages.each do |attribute, messages| %>
      <% messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
