<!-- DO NOT MODIFY -->
<header class="container center-text">
  <h1>Color Wall</h1>
</header>

<main role="main" class="container">
  <section class="center-text">
    <button id="color-button">Change a Cell Color</button>
  </section>

  <section>
    <ul class="cells">
      <li class="cell round-top-left"></li>
      <li class="cell"></li>
      <li class="cell round-top-right"></li>
      <li class="cell"></li>
      <li class="cell"></li>
      <li class="cell"></li>
      <li class="cell round-bottom-left"></li>
      <li class="cell"></li>
      <li class="cell round-bottom-right"></li>
    </ul>
  </section>
</main>
