body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

input[type=submit] {
  float: right;
  padding: 8px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

textarea {
  resize: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #FF0057;
}

h3 {
  color: #66757F;
}

p {
  margin: 0;
}

#top-nav {
  position: fixed;
  background: #55ACEE;
  height: 50px;
  width: 100%;
  min-width: 768px;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  z-index: 2;
}

#brand {
  text-align: center;
  line-height: 50px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: white;
  display: inline-block;
}

#search {
  position: absolute;
  height: 24px;
  top: 7px;
  right: 10px;
  width: 200px;
  border-radius: 24px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 36px;
  font-size: 14px;
  outline: none;
}

.fa-search {
  position: absolute;
  top: 15px;
  right: 24px;
}

.container {
  position: relative;
  margin: 70px auto;
  width: 768px;
}

#tweet-box {
  position: absolute;
  height: 160px;
  width: 232px;
  max-width: 232px;
  text-align: center;
  background: #00A5D5;
  padding: 6px;
  border-radius: 6px
}

#trends-container {
  position: absolute;
  top: 180px;
  height: 258px;
  width: 210px;
  max-width: 210px;
  border: 1px solid #000;
  padding: 15px;
  border-radius: 6px;
  margin-top: 10px;
}

#tweets-container {
  position: absolute;
  left: 260px;
  width: 500px;
  border-radius: 6px;
  border: 1px solid #000;
}

#tweets-container h3 {
  padding-left: 10px;
}

.tweet {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.tweet-content {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  max-width: 410px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-right: 4px;
}

.full-name {
  font-weight: bold;
  margin-right: 4px;
}

.username,
.timestamp {
  color: #B1BEC8;
}

